/* common css */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
/* common css end */

/* header start */
header{
    background-color: #ffffff;
    padding: 15px 0;
}
.logo{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333333;
}
.menu ul  li a{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #8e8e8e !important;
    padding: 0 25px !important;
}
.menu ul li a:hover {
    color: #333333 !important;
}
.btn-search{
    padding-bottom: 0;
    font-size: 16px;
    color: #8e8e8e;
}
.btn-search:hover{
    color: #333333;
}
.btn-search:focus{
    box-shadow: none;
}
.c_dd_menu {
    padding: 0;
    min-width: 400px;
    color: #151515;
    border: none;
    border-radius: 0;
}
.fc{
    padding: 10px 15px;
    border: none;
}
.fc:focus {
    box-shadow: none;
    border: none;
}
.c_dd_menu[data-bs-popper] {
    top: 72px;
    left: -350px;
}
.b_s_icon{
    font-size: 23px;
    color: #ffffff;
    background-color: #8e8e8e;
    padding: 5px 20px;
    border-radius: 0;
}
.b_s_icon:hover{
    color: #333333;
}
.b_s_icon:focus {
    box-shadow: none;
}
/* header end */

/* slider start */
.slider{
    background-image: url(../images/slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider_text{
    margin: 200px 0;
}
.slider_text h1{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-family: 700;
    color: #ffffff;
}
.slider_text p{
    color: #ffffff;
    word-spacing: 1px;
    margin: 25px 0 50px;
}
.btn-slider{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    padding: 10px 35px;
    background-color: #ffffff;
    border-radius: 0;
    transition: .3s all ease-in-out;
}
.btn-slider:focus{
    box-shadow: none;
}
.ccp, .ccn{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    align-items: flex-end;
}
.ccp span, .ccn span{
    background-image: none;
}
.ccp{
    left: -30px;
    color: #8e8e8e;
}
.ccp:hover{ 
    color: #333333;
}
.ccn{
    left: 45px !important;
    color: #8e8e8e;
}
.ccn:hover{ 
    color: #333333;
}
/* slider end */

/* service start */
.service{
    padding-bottom: 100px;
}
.t_arrow{
    width: 2px;
    height: 40px;
    background-color: #333333;
    display: inline-block;
}
.c_h1{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}
.text_center{
    margin-top: 20px;
    text-align: center;
    color: #8e8e8e;
}
.s_single{
    text-align: center;
    padding: 70px 15px 35px;
    border: 1px solid #8e8e8e;
    margin-top: 85px;
    transition: .3s all ease-in-out;
}
.s_single:hover{
    transform: scale(.9);
}
.s_icon{
    margin: 0 auto;
    margin-top: -93px;
    background-color: #ffffff;
    width: 70px;
    height: 60px;
}
.s_icon i{
    font-size: 60px;
    color: #8e8e8e;
    transition: .3s all ease-in-out;
}
.s_single h2{
    margin-top: 40px;
}
.lb_18_33{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
}
.h2_span{
    width: 50px;
    height: 2px;
    background-color: #8e8e8e;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.s_single p{
    margin: 20px 0 40px;
    line-height: 24px;
}
.s_single a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8e8e8e;
    transition: .3s all ease-in-out;
}
.r8_arrow{
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 10px;
    transition: .3s all ease-in-out;
}
.s_single:hover{
    border: 1px solid #333333;
}
.s_single:hover .s_icon i{
    color: #333333;
}
.s_single:hover .anchor{
    color: #333333;
}
.s_single:hover .r8_arrow{
    color: #333333;
}
/* service end */

/* about */
.about{
    padding-bottom: 100px;
}
.ab_image img{
    width: 100%;
}
.ab_title{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
}
.ab_p{
    margin: 25px 0;
}
.btn_about{
    margin-top: 45px;
    border: 1px solid #333333;
}
/* about end */

/* r work start */
.work{
    background-color: #f8f8f8;
    padding-bottom: 100px;
}
.c_nav_pills{
    margin-bottom: 60px !important;
}
.c_nav_pills .c_nav_button.active, .shows .nav-link{
    background: transparent;
    border: 1px solid #333333;
    border-radius: 0;
    color: #333333;
    text-transform: uppercase;
}
.c_nav_pills  .c_nav_button{
    background: transparent;
    color: #8e8e8e;
    text-transform: uppercase;
    margin: 0 5px;
}
.gallary{
    position: relative;
    margin-top: 40px;
}
.gallary img{
   width: 100%;
}
.plus_icon{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .3s all ease-in-out;
}
.gallary:hover .plus_icon{
    opacity: 1;
    background: rgba(36, 36, 36, 0.5);
}
.plus_icon i{
    margin-top: -70px;
    font-size: 50px;
    color: #ffffff;
    transition: .3s all ease-in-out;
}
.plus_icon i:hover{
   transform: scale(1.2);
   cursor: pointer;
}
.text_bottom{
    position: absolute;
    padding: 15px 25px;
    width: 100%;
    background: #ffffff;
    left: 0;
    bottom: -50px;
    opacity: 0;
    transition: .3s all ease-in-out;
}
.text_bottom p{
    margin: 0;
    margin-top: 5px;
}
.gallary:hover .text_bottom{
    opacity: 1;
    bottom: 0;
}
/* r work end */

/* choose */
.choose{
    padding-bottom: 100px;
}
.ch_single{
    margin-top: 50px;
    border-bottom: 1px solid #8e8e8e;
    transition: .3s all ease-in-out;
}
.ch_icon{
    margin-top: -16px;
}
.ch_icon i{
    font-size: 50px;
}
.ch_single h2{
    margin: 0;
    color: #8e8e8e;
}
.ch_p{
    margin: 0;
    margin: 40px 0 35px;
    line-height: 25px;
}
.ch_single:hover .ch_icon i{
    color: #333333;
}
.ch_single:hover .lb_18_33{
    color: #333333;
}
.ch_single:hover{
    transform: scale(.9);
    border-bottom: 1px solid #333333;
}
/* choose end */

/* worker start */
.worker{
    background-image: url(../images/team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
}
.w_image{
    position: relative;
    margin-top: 70px;
    transition: .3s all ease-in-out;
}
.w_image img{
    width: 100%;
}
.w_icon_box{
    position: absolute;
    left: -20px;
    opacity: 0;
    transition: .3s all ease-in-out;
}
.w_icon_box ul{
    border-radius: 0;
}
.w_icon_box ul li{
    border: none;
    width: 40px;
    padding: 8px 0;
    border-right: 1px solid transparent;
}
.w_icon_box ul li a{ 

    display: block;
    text-align: center;
    color: #8e8e8e;
}
.w_icon_box ul li a i{

    font-size: 24px;
    transition: .3s all ease-in-out;
}
.image_bottom{
    background-color: #ffffff;
    padding: 15px 25px;
}
.image_bottom h2{
    margin: 5px 0 8px;
}
.w_image:hover .w_icon_box{
    top: 42px;
    left: 0;
    opacity: 1;
}
.w_icon_box ul li:hover{
    background-color: #f8f8f8;
    border-right: 1px solid #333333;
}
.w_icon_box ul li a i:hover{
    color: #333333;
}
/* worker end */

/* pricing start */
.pricing{
    padding-bottom: 100px;
}
.price_box{
    border: 1px solid #8e8e8e;
    padding: 50px 30px;
    margin-top: 70px;
    transition: .3s all ease-in-out;
}
.top_text{
    margin-top: -62px;
}
.top_text h2{
    display: inline-block;
    background-color: #ffffff;
}
.price_box h3{
    margin: 0;
    margin: 35px 0 30px;
    font-size: 34px;
    font-weight: 500;
    color: #333333;
}
.price_box h3 span{
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    text-transform: capitalize;
}
.p_list ul li{
    margin-top: 15px;
}
.btn_pr{
    margin-top: 25px;
    font-size: 14px;
    color: #8e8e8e;
    border: 1px solid #8e8e8e;
    transition: .3s all ease-in-out;
}
.price_box:hover{
    transform: scale(.9);
    border: 1px solid #333333;
}
.price_box:hover .btn_pr{
    color: #333333;
    border: 1px solid #333333;
}
.price_box:hover .r8_arrow{
    color: #333333;
}
/* pricing end */

/* nipro */
.nipro{
    background-color: #f8f8f8;
    padding: 40px 0;
    margin-bottom: 100px;
}
.n_text h2{
    font-weight: 400;
}
/* nipro end */

/* c_founder */
.c_founder{
    padding-bottom: 100px;
}
.box{
    padding: 40px 30px;
    border: 1px solid #bfbfbf;
}
.image_wrapper img{
    width: 100%;
    position: relative;
}
.icon_wrapper{
    position: absolute;
    top: 10px;
    left: 10px;
}
.icon_wrapper i{
    font-size: 28px;
    color: #333333;
}
.c_f_p, .c_f_p2{
    margin: 0;
    font-size: 18px;
}
.c_f_p{
    margin: 15px 0 5px;
}
.c_f_p2{ 
    margin-bottom: 30px;
    color: #333333;
}
.h_100{
    height: 100% !important;
}
.c_f_btn{
    border: 1px solid #bfbfbf;
    background-color: #f8f8f8;
}
.ccp2, .ccn2{
    background-color: transparent;
    border: none;
    transform: rotate(90deg);
    margin: 45px 0;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #8e8e8e;
}
.ccp2 span, .ccn2 span{
    background-image: none;
}
.ccp2:hover{ 
    color: #333333;
}
.ccn2:hover{ 
    color: #333333;
}
/* c_founder end */

/* contact */
.contact{
    padding-bottom: 100px;
}
.contact_box{
    border: 1px solid #8e8e8e;
}
.c_top_text{
    margin-top: -20px;
}
.c_top_text h1{
    display: inline-block;
    background-color: #ffffff;
    padding: 0 20px;
}
.c_form{
    padding: 0 50px;
    margin: 90px 0 70px;
}
.c_fc{
    margin-bottom: 40px;
    padding: 10px 20px;
    border: none !important;
    border-bottom: 1px solid #8e8e8e !important;
    border-radius: 0;
}
.c_fc:focus{
    box-shadow: none;
}
/* contact end */

/* footer start */
.footer_top{
    background-image: url(../images/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 0px;
}
.ft_p{
    margin-top: 30px;
    color: #ffffff;
    line-height: 25px;
}
.social_icon{
    margin: 45px 0 100px;
}
.social_icon ul li{
    width: 45px;
    height: 45px;
    border: 1px solid #ffffff;
    margin: 0 5px;
}
.social_icon ul li a{
    display: block;
    color: #ffffff;
}
.social_icon ul li a i{
    font-size: 25px;
    line-height: 45px;
}
.social_icon ul li a:hover{
    color: #151515;
    background-color: #ffffff;
}
.footer_bottom{
    padding: 30px 0;
    border-top: 1px solid #ffffff;
}
.footer_bottom p{
    margin: 0;
    color: #ffffff;
}
.fb_links ul li a{
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
}
.fb_links ul li a:hover{
    color: #8e8e8e;
}
/* footer end */